* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(255, 208, 121);
    height: 140px;

}

.nav-buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
}

a:hover {
    transform: scale(0.8);
    transition: 0.4s;
}

.registerbutton {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.registerbutton:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.logo {
    width: 25%;
}

.logo img {
    height: 100px;
    margin: 22px;
}

.register-form {
    background-color: #fab002;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.register-form:hover {
    background-color: rgba(228, 226, 122, 0.762);
}

.parent-container {
    background-color: rgb(255, 208, 121);
}

.box-container {
    width: 100%;
    /* background-color: rgb(247, 191, 88); */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50%;
    padding-left: 10px;
    text-align: center;
}

h1 {
    font-style: italic;
    font-size: xx-large;

}

h3 {
    font-style: italic;
}

p {
    font-style: italic;
    color: rgb(48, 19, 19);
}

.image {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
}

.box-container img {
    height: 300px;
    width: 400px;
    border-radius: 100px;
    width: 70%;
}

.places {
    /* background-color: rgb(247, 191, 88); */
    display: flex;
    width: 100%;
    justify-content: space-around;
}



.hanumangarhi {
    width: 25%;
    margin-top: 10px;

}

.hanumangarhi:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.9s;
}

.ramkot {
    width: 25%;
    margin-top: 10px;
}

.ramkot:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.9s;
}

.nageshwarnath {
    width: 25%;
    margin-top: 10px;
}

.nageshwarnath:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.9s;
}

h2 {
    text-align: center;
}

.temple {
    display: flex;
    justify-content: center;
}

.temple img {
    height: 200px;
    width: 200px;
}

.contact {
    background-color: white;
    margin: 30px;
}

.form-heading {
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}



textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.submit-form {
    background-color: #fab002;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.submit-form:hover {
    background-color: rgba(228, 226, 122, 0.762);
    transform: scale(1.1);
    transition: 0.3s;
}

